@font-face {
  font-family: Sixtyfour;
  src: url('fonts/Sixtyfour-Regular.ttf')
}

@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto-Regular.ttf')
}

a {
    text-decoration: none;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.black{
    background-color: black;
}

.in_midle {
margin-top: 100px;
}
.logofont {
    font-family: "Sixtyfour", serif;
color: white;
margin-bottom: 0px;
text-align: center;
}
.subscript {
    font-family: "Sixtyfour", serif;
color: white;
font-size: 12px;
text-align: center;
margin-top: 0px;
}
.normaltext {
    font-family: "Roboto", serif;
color: rgba(0, 149, 246, 1);
font-size: 13px;
text-align: center;
justify-content: center;
}

.blue {
    color: rgba(0, 149, 246, 1);
}
.username {
    border-radius: 4px;
}
.password {
    border: solid 1px;
    font-family: "Roboto", serif;
    font-size: 12px;

    border-radius: 2px;
    height: 36px;
    width: 260px;
    padding: 8px;
}

.error {
    color: red;
    font-weight: Roboto;
    display: none; /* Hidden by default */
  }
